.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 300px 0px 300px;
  min-height: 100vh;
  background-color: rgba(22, 133, 207, 0.07);
  // border: 1px solid #d1d1d1;
  padding-top: 46px;
}

.main {
  position: relative;
  padding-top: 58px;
  background-color: #ffff;
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 0 300px 0px 300px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0;
  }
}
.post-inp {
  border-radius: 999px;
  height: 40px;
  outline: none;
  color: white;
  cursor: pointer;
  margin: auto;
  border-radius: 8px;
}
